<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:icon="@drawable/icon"
        android:screenOrientation = "portrait"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:theme="@style/Theme.TeamProject"
        android:label="@string/app_name"

        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:targetApi="31">
        <activity
            android:name=".fd_quiz_4"
            android:exported="false" />
        <activity
            android:name=".fd_quiz_3"
            android:exported="false" />
        <activity
            android:name=".fd_quiz_2"
            android:exported="false" />
        <activity
            android:name=".fd_quiz_1"
            android:exported="false" />
        <activity
            android:name=".eg_quiz_4"
            android:exported="false" />
        <activity
            android:name=".eg_quiz_3"
            android:exported="false" />
        <activity
            android:name=".eg_quiz_2"
            android:exported="false" />
        <activity
            android:name=".eg_quiz_1"
            android:exported="false" />
        <activity
            android:name=".ct_quiz_4"
            android:exported="false" />
        <activity
            android:name=".ct_quiz_3"
            android:exported="false" />
        <activity
            android:name=".ct_quiz_2"
            android:exported="false" />
        <activity
            android:name=".Tutorial"
            android:exported="false" />
        <activity
            android:name=".st_quiz_4"
            android:exported="false" />
        <activity
            android:name=".st_quiz_3"
            android:exported="false" />
        <activity
            android:name=".st_quiz_2"
            android:exported="false" />
        <activity
            android:name=".st_quiz_1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".storyActivity" />
        <activity android:name=".languageActivity" />
        <activity android:name=".homeActivity" />
        <activity android:name=".endingActivity" />
        <activity android:name=".ctHallActivity" />
        <activity android:name=".egHallActivity" />
        <activity android:name=".lakeActivity" />
        <activity android:name=".stHallActivity" />
        <activity android:name=".foodHallActivity" />
        <activity android:name=".cthall_talk1Activity" />
        <activity android:name=".cthall_talk2Activity" />
        <activity android:name=".cthall_talk3Activity" />
        <activity android:name=".eghall_talk1Activity" />
        <activity android:name=".eghall_talk2Activity" />
        <activity android:name=".eghall_talk3Activity" />
        <activity android:name=".eghall_talk4Activity" />
        <activity android:name=".sthall_talk1Activity" />
        <activity android:name=".sthall_talk2Activity" />
        <activity android:name=".sthall_talk3Activity" />
        <activity android:name=".sthall_talk4Activity" />
        <activity android:name=".foodhall_talk1Activity" />
        <activity android:name=".foodhall_talk2Activity" />
        <activity android:name=".foodhall_talk3Activity" />
        <activity android:name=".lake_talkActivity" />
        <activity android:name=".lbhall_talkActivity" />
    </application>

</manifest>